body,
* {
    margin: 0;
    padding: 0;
}

@media (min-width:1200px) {
    body {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width:1200px) {
    body {
        margin-left: 16px;
        margin-right: 16px;
    }
}

body::after {
    position: absolute;
    content: '';
    filter: blur(159px);
    z-index: -1;
    width: 1118px;
    height: 767px;
    top: -303px;
    left: -334px;
    gap: 0px;
    opacity: 10%;
    background: #55A2FF;
}

.section__title {
    font-weight: 700;
}

.section__title__styled {
    background: #F696A0;
    border-radius: 24px;
    padding: 0px 15px 5px 15px;
    max-width: fit-content;
    color: white;
}

.section__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0F0000;
}

.styled__button {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.styled__button.blue {
    background: #55A2FF;
}

.styled__button.aqua {
    background: #73C0FF;
}

.styled__button.pink {
    background: #F696A0;
}

.styled__border__button {
    border: 1px solid #55A2FF26;
    border-radius: 16px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.header__logo {
    position: relative;
    width: 354px;
    height: 28px;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__logo #adaptive__logo {
    display: none;
}

nav.dekstop, nav.adaptive {
    position: relative;
    display: flex;
    white-space: nowrap;
}

nav.dekstop {
    border: 1px solid #55A2FF26;
    border-radius: 16px;
    overflow: hidden;
    /* Чтобы круг не выходил за границы навигации */
}

nav.dekstop button {
    position: relative;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    /* Занимает равное пространство */
    transition: color 0.3s ease;
    text-align: center;
}

nav.dekstop button.active {
    color: white;
}

nav.adaptive .styled__border__button {
    border-radius: 6.05px;
    padding:10px;
    display: flex;
    align-items: center;
}

nav.adaptive .styled__border__button img {
    width: 25px;
height: 25x;
top: 8.17px;
left: 5.83px;
gap: 0px;
border: 2.33px 0px 0px 0px;
opacity: 0px;

}

nav.adaptive .styled__border__button:nth-child(2) {
    margin-left: 4px;
    margin-right: 4px;
}

.adaptive {
    display: none;
}

.circle {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    /* Чтобы текст кнопки был над кругом */
    transition: transform 0.3s ease, width 0.3s ease;
    /* Плавный переход */
    border-radius: 16px;
}

#main__section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}

#main__section>.landing {
    display: flex;
    flex-direction: column;
}

#main__section .section__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
}

#main__section .section__description {
    width: 55%;
    top: 408px;
    left: 48px;
    margin: 20px 0px 0px 7px;
}

#main__section .landing__clickable {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 44px;
}

#main__section .landing__clickable>.styled__button {
    font-size: 20px;
    padding: 27px 32.5px 27px 32.5px;
    text-decoration: none;
    border-radius: 16px;
}

#main__section .landing__clickable>.styled__border__button {
    margin-left: 8px;
    padding: 20px;
}

#main__section .landing__logo {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 986px;
    height: 504px;
    z-index: -1;
}

#main__section .landing__logo>img {
    width: 100%;
    height: 100%;
}

#main__section .landing .button__to__down {
    position: relative;
    display: flex;
    align-items: start;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 139px;
    margin-left: 19px;
}

@media (max-width: 1600px) {
    #main__section .landing__logo>img {
        width: 75%;
    }
}

@media (max-width: 1350px) {
    #main__section .landing__logo>img {
        width: 65%;
        height:85%;
    }
}

@media (max-width: 1200px) { /* Ноутбуки */
    #main__section {
        flex-direction: column; /* Изменяем направление на колонку */
        height: auto; /* Позволяем высоте подстраиваться под контент */
    }
    .section__title {
        font-size: 36px /* Уменьшаем размер шрифта */
    }
    .section__description {
        width: 70%; /* Увеличиваем ширину описания */
    }

    #main__section .landing__logo>img {
        width: 60%;
        height: 60%;
    }

    .section__title {
        font-weight: 700;
    }
    .section__description {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #0F0000;
    }
}

@media (max-width: 1180px) { /* Ноутбуки */
    #main__section .landing__logo>img {
        width: 50%;
    }

    nav.dekstop button {
        font-size: 12px;
    }
}

/* Медиа-запросы для адаптации под планшеты */
@media (max-width: 1024px) { /* Планшеты */
    nav.dekstop button {
        font-size: 10px;
        padding:5px 10px 5px 10px;
    }

    #main__section .landing {
        margin-top: 40px;
    }

    #main__section .landing__logo  {
        width: 90%;
        height: 90%;
    }
    #main__section .section__title {
     font-size: 28px;
     font-weight: 700;
     line-height: 33.6px;
     letter-spacing: -0.02em;
     text-align: left;        
    }

    #main__section .landing .button__to__down {
        display: none;
    }
   
      #main__section .landing__clickable {
       margin-bottom: 40px;
      }
}

@media (max-width: 860px) { /* Телефоны и планшеты */
    .dekstop {
        display: none !important; /* Добавление !important для применения к классам по типу classname="dekstop someClassname" */
    }

    .adaptive {
        display: inline;
    }

    #main__section .section__title {
     font-size: 28px;
     font-weight: 700;
     line-height: 33.6px;
     letter-spacing: -0.02em;
     text-align: left;        
    }

   #main__section .landing {
    align-items: center;
   }

   #main__section .landing__logo  {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top:57%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   #main__section .landing__logo img {
    width: 80%;
    height: 60%;
    top: 203px;
    left: 38px;
   }

   #main__section .landing__clickable {
    margin-top: 200px;
    margin-bottom: 87px;
    width: 100%;
   }

   #main__section .landing__clickable a {
    width: 100%;
    text-align: center;
   }

   #main__section .section__description {
    display: none;
   }

   #main__section .landing .styled__border__button {
    display: none;
   }
}

#get__started__section {
    position: relative;
    display: flex;
    flex-direction: column;
}

#get__started__section .section__title {
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    text-align: left;
}

#get__started__section>.get__started__cards__container {
    position: relative;
    display: grid;
    grid-template-columns: 21vw 21vw 52vw;
    grid-template-rows: 223px;
    margin-top: 48px;
}

#get__started__section>.get__started__cards__container .get__started__card:nth-child(2) {
    margin-left: 16px;
    margin-right: 36px;
}

#get__started__section>.get__started__cards__container>.get__started__card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#get__started__section>.get__started__cards__container>.get__started__card>img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#get__started__section>.get__started__cards__container>.get__started__card>.card__id {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 1000px;
    background: #0F000080;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#get__started__section>.get__started__cards__container>.get__started__card>.card__button__wrapper {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0F0000;
}

#get__started__section>.get__started__cards__container>.get__started__card:not(:nth-child(3))>.card__button__wrapper {
    padding: 12px;
}

#get__started__section>.get__started__cards__container>.get__started__card:nth-child(3)>.card__button__wrapper {
    padding-left: 12px;
}

#get__started__section>.get__started__cards__container>.get__started__card>.card__button__wrapper>a {
    position: relative;
    text-decoration: none;
    border-radius: 8px;
}

#get__started__section>.get__started__cards__container>.get__started__card>.card__button__wrapper>a>img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#get__started__section>.get__started__cards__container>.get__started__card:not(:nth-child(3))>.card__button__wrapper>a {
    border-radius: 6px;
    padding: 5px;
    width: 24px;
    height: 24px;
}

#get__started__section>.get__started__cards__container>.get__started__card:nth-child(3)>.card__button__wrapper>a {
    border-radius: 8px;
    padding: 13px;
}

#get__started__section>.section__description {
    margin-top: 68px;
    max-width: 880px;
}

/* Медиа-запросы для адаптации под планшеты */
@media (max-width: 1024px) { /* Планшеты */
    #get__started__section .section__title {
        font-size: 36px; /* Уменьшаем размер шрифта */
        line-height: 43.2px; /* Уменьшаем интервал */
    }

    #get__started__section>.get__started__cards__container {
        display: flex; /* Используем flexbox */
        flex-direction: column; /* Размещаем карточки в колонку */
        gap: 20px; /* Устанавливаем отступы между карточками */
    }
    
    #get__started__section>.get__started__cards__container>.get__started__card {
        width: 100%; /* Каждая карточка занимает 100% ширины контейнера */
        height: 201px; /* Устанавливаем высоту для карточек */
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #get__started__section>.get__started__cards__container>.get__started__card:nth-child(2) {
        margin:0; /* Убираем отступы у второй карточки */
    }

    #get__started__section>.section__description {
        margin-top: 48px; /* Уменьшаем отступ сверху */
        max-width: 90%; /* Увеличиваем ширину описания */
    }
}

@media (max-width: 780px) { /* Телефоны и планшеты */
    #get__started__section .section__title {
     font-size: 19px !important;
     font-weight: 700;
     line-height: 22.8px;
     letter-spacing: -0.02em;
     text-align: left;
    }
}

#application__section {
    position: relative;
    width: 100%;
    min-height: 384px;
    height: fit-content;
    background: #55A2FF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    overflow: hidden;
}

#application__section .blob__left, #application__section .blob__right {
    position: absolute;
}

#application__section .blob__left {
    left:0;
    top:0;
}

#application__section .blob__right {
    right:0;
    bottom:0;
}

#application__section .about__application {
    display: flex;
    align-items: center;
    z-index: 1;
}

#application__section .about__application .styled__button {
    padding:12px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: left;
}

#application__section .about__application .styled__button:nth-child(2) {
    margin-left: 16px;
}

#application__section p {
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    letter-spacing: -0.02em;
    text-align: center;
    z-index: 1;
    color:white;
    width: 50vw;
    margin-top: 16px;
    margin-bottom: 32px;
}

#application__section .download__application__button {
    text-decoration: none;
    padding: 23px 32px 23px 32px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 1;
}

@media (max-width:1200px) {
    #application__section {
        border-radius: 32px;
        height: 620px;
        
    }

    #application__section .blob__left {
        top:-12px;
        width: 220.9px;
        height: 185.24px;
    }

    #application__section .blob__right {
        width: 213.67px;
        height: 175.19px;
        gap: 0px;
        opacity: 0px;
    }

    #application__section .about__application .styled__button {
        padding: 8px 12px 8px 12px;
        gap: 10px;
        border-radius: 10px;
        font-size: 11px;
        font-weight: 500;
        line-height: 15.4px;
        letter-spacing: -0.02em;
    }

    #application__section .about__application .styled__button:nth-child(2) {
        margin-left: 4px;
    }

    #application__section p {
        width: 262px;
        height: 100px;
        font-size: 21px;
        font-weight: 700;
        line-height: 25.2px;
        letter-spacing: -0.02em;
    }

    #application__section .download__application__button {
        font-size: 16px;
        line-height: 16px;
        padding:16px 32px 16px 32px;
    }
}