@keyframes openAsideOverlay {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes closeAsideOverlay {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes openAsidePanel {
    from {
        left:100%;
    }

    to {
        left:0;
    }
}

@keyframes closeAsidePanel {
    from {
        left:0;
    }

    to {
        left:100%;
    }
}

.aside__overlay {
    position: fixed;
    animation: openAsideOverlay .4s;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,60%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: opacity,.4s;
}

.aside__overlay.closing {
    animation: closeAsideOverlay .4s;
}

.aside__overlay.closing .main__page__aside__panel{
    animation: closeAsidePanel .4s;
}

.main__page__aside__panel {
    position: relative;
    display: flex;
    animation: openAsidePanel .4s;
    flex-direction: column;
    padding:20px;
    min-width: 40vw;
    min-height: 50vh;
    background:white;
    border-radius: 5px;
    transition: all,.4s;
}

.main__page__aside__panel button {
    border: none;
    outline: none;
    background:none;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: left;
}

.main__page__aside__panel .close__button {
    font-weight: 700;
    margin-bottom: 40px;
}